In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.ensemble import RandomForestClassifier 
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import accuracy_score

%matplotlib inline

data=pd.read_csv('HW2data.csv')

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [3]:
data['workclass'].value_counts()

 Private             22696
 Self-emp-not-inc     2541
 Local-gov            2093
 ?                    1836
 State-gov            1298
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name: workclass, dtype: int64

In [4]:
data['occupation'].value_counts()

 Prof-specialty       4140
 Craft-repair         4099
 Exec-managerial      4066
 Adm-clerical         3770
 Sales                3650
 Other-service        3295
 Machine-op-inspct    2002
 ?                    1843
 Transport-moving     1597
 Handlers-cleaners    1370
 Farming-fishing       994
 Tech-support          928
 Protective-serv       649
 Priv-house-serv       149
 Armed-Forces            9
Name: occupation, dtype: int64

In [5]:
data['native_country'].value_counts()

 United-States                 29170
 Mexico                          643
 ?                               583
 Philippines                     198
 Germany                         137
 Canada                          121
 Puerto-Rico                     114
 El-Salvador                     106
 India                           100
 Cuba                             95
 England                          90
 Jamaica                          81
 South                            80
 China                            75
 Italy                            73
 Dominican-Republic               70
 Vietnam                          67
 Guatemala                        64
 Japan                            62
 Poland                           60
 Columbia                         59
 Taiwan                           51
 Haiti                            44
 Iran                             43
 Portugal                         37
 Nicaragua                        34
 Peru                             31
 France                           29
 Greece                           29
 Ecuador                          28
 Ireland                          24
 Hong                             20
 Cambodia                         19
 Trinadad&Tobago                  19
 Laos                             18
 Thailand                         18
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Hungary                          13
 Honduras                         13
 Scotland                         12
 Holand-Netherlands                1
Name: native_country, dtype: int64

In [6]:
# data['age'] = [data['age'].mean() if x==' ?' else x for x in data['age']]
# data['fnlwgt'] = [data['fnlwgt'].mean() if x==' ?' else x for x in data['fnlwgt']]
# data['education_num'] = [data['education_num'].mean() if x==' ?' else x for x in data['education_num']]
# data['capital_gain'] = [data['capital_gain'].mean() if x==' ?' else x for x in data['capital_gain']]
# data['capital_loss'] = [data['capital_loss'].mean() if x==' ?' else x for x in data['capital_loss']]
# data['hours_per_week'] = [data['hours_per_week'].mean() if x==' ?' else x for x in data['hours_per_week']]

In [7]:
data['workclass'] = [data['workclass'].value_counts().idxmax() if x==' ?' else x for x in data['workclass']]
data= pd.get_dummies(data=data,columns=['workclass'])

data= pd.get_dummies(data=data,columns=['education'])

data= pd.get_dummies(data=data,columns=['marital_status'])
data['occupation'] = [data['occupation'].value_counts().idxmax() if x==' ?' else x for x in data['occupation']]
data= pd.get_dummies(data=data,columns=['occupation'])

data= pd.get_dummies(data=data,columns=['relationship'])

data= pd.get_dummies(data=data,columns=['race'])

data= pd.get_dummies(data=data,columns=['sex'])
data['native_country'] = [data['native_country'].value_counts().idxmax() if x==' ?' else x for x in data['native_country']]
data= pd.get_dummies(data=data,columns=['native_country'])
pd.DataFrame(data)

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,income,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,...,native_country_ Portugal,native_country_ Puerto-Rico,native_country_ Scotland,native_country_ South,native_country_ Taiwan,native_country_ Thailand,native_country_ Trinadad&Tobago,native_country_ United-States,native_country_ Vietnam,native_country_ Yugoslavia
0,39,77516,13,2174,0,40,<=50K,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,50,83311,13,0,0,13,<=50K,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,38,215646,9,0,0,40,<=50K,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,53,234721,7,0,0,40,<=50K,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,28,338409,13,0,0,40,<=50K,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,257302,12,0,0,38,<=50K,0,0,0,...,0,0,0,0,0,0,0,1,0,0
32557,40,154374,9,0,0,40,>50K,0,0,0,...,0,0,0,0,0,0,0,1,0,0
32558,58,151910,9,0,0,40,<=50K,0,0,0,...,0,0,0,0,0,0,0,1,0,0
32559,22,201490,9,0,0,20,<=50K,0,0,0,...,0,0,0,0,0,0,0,1,0,0
32560,52,287927,9,15024,0,40,>50K,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [8]:
y=data['income']
data=data.drop(labels=['income'],axis='columns')
y

0         <=50K
1         <=50K
2         <=50K
3         <=50K
4         <=50K
          ...
32556     <=50K
32557      >50K
32558     <=50K
32559     <=50K
32560      >50K
Name: income, Length: 32561, dtype: object

In [9]:

def K_fold_CV(k, data):
    subset_size=round(len(data)/k)
    Accuracy=0
    for i in range(k):
        x_test=data[i*subset_size:min((i+1)*subset_size,len(data))]
        y_test=y[i*subset_size:min((i+1)*subset_size,len(data))]
        if (i+1)*subset_size==len(data):
            x_train=data[0:i*subset_size]
            y_train=y[0:i*subset_size]
        elif i==0:
            x_train=data[(i+1)*subset_size:]
            y_train=y[(i+1)*subset_size:]
        else:
            x_train=data[(i+1)*subset_size:].append(data[0:i*subset_size])
            y_train=y[(i+1)*subset_size:].append(y[0:i*subset_size])

        forest = RandomForestClassifier(n_estimators = 100)
        forest_fit = forest.fit(x_train, y_train)
        
        y_pred = forest.predict(x_test)
        accuracy = accuracy_score(y_test, y_pred)
        Accuracy=Accuracy+accuracy
    return Accuracy/k

In [10]:
K_fold_CV(10,data)

0.8534090909090908